/Ajedrez/nbproject/private/
/Ajedrez/build/
Ajedrez/build.xml
Ajedrez/manifest.mf
Ajedrez/nbproject/build-impl.xml
Ajedrez/nbproject/genfiles.properties
Ajedrez/nbproject/project.properties
Ajedrez/nbproject/project.xml
/que/nbproject/private/
/prueba/nbproject/private/
.idea/.gitignore
.idea/Ajedrez-la-venganza.iml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/vcs.xml
Ajedrez/.classpath
Ajedrez/.project
prueba/manifest.mf
prueba/src/prueba/Prueba.java
Ajedrez/src/com/carlettos/log.log
Ajedrez/src/com/carlettos/log.log.1
