/Ajedrez/nbproject/private/
/Ajedrez/build/
Ajedrez/build.xml
Ajedrez/manifest.mf
Ajedrez/nbproject/build-impl.xml
Ajedrez/nbproject/genfiles.properties
Ajedrez/nbproject/project.properties
Ajedrez/nbproject/project.xml
